body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
a{
  text-decoration: none;
}
.links a{
  color: #6c757d;
}
.flex{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

#supportHero{
  background-color:rgb(56, 126, 209);
  color: #fff;
}
#supportHero a{
  color: white;
  text-decoration: underline;
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
}
